@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* testing only */
#splash,
#game,
#record,
#highscores {
	height: 300px; /* test only */
}

:root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

body,
body > * {
	width: 100%;
}

body {
	height: 100%;
	background-color: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
}

/* header */
header,
header nav {
	white-space: nowrap;
}

header {
	background: -webkit-linear-gradient(top, hsl(0, 0%, 0%) 0%, hsl(201, 9%, 29%) 45%, hsl(201, 9%, 29%) 55%, hsl(206, 50%, 12%) 100%);
	line-height: 1.429em;
	color: #fff;
	border-bottom: 1px solid #dbe5f5;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem;
}

header p {
	display: block;
	white-space: nowrap;
	font-size: 0.9rem;
	color: black;
	border-radius: 4px;
	padding: 0 2px;
	background-color: white;
	margin: 0;
	padding: 0;
}

.nav-view i {
	transform: rotate(90deg) scaleX(-1);
}

/* for testing only */
.transition {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	background-color: black;
	margin: 0.3rem 0;
	padding: 0.3rem 0;
}

/* main */

/* splash "Coding Quiz Challenge" */
#splash {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
}

.splash-heading {
	font-size: 1.5rem;
	margin: 1.2rem 0;
}

.splash-description {
	font-size: 1rem;
	margin: 1rem 0;
	max-width: 31.5rem;
	text-align: center;
}

.splash-start-button {
	font-size: 1rem;
	margin: 1rem 0;
	padding: 0.6rem 1rem;
}

/* game */
#game {
	color: #000;
	background: #dbe5f5 url(../images/6yJhD8k.png) repeat-x;
	font: 14px/1.2 Arial, Helvetica, sans-serif;
	padding: 0.6rem;
}

.game-question {
	background: #fff;
	margin-bottom: 0.6em;
	padding: 0.6em;
}

.game-multichoice {
	padding: 0.6em;
	border-radius: 0.357em;
	background: -webkit-linear-gradient(top, #fff, #dde3ee);
	box-shadow: 0 0.0714em 0.214em rgb(0 0 0 / 25%);
}
