/***************************************** 
  IMPORTED FONTS — ROBOTO AND ROBOTO MONO
 *****************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100&display=swap');

/****************** 
  UNIVERSAL SELECTOR
 ******************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 3vmin;
	transition: all 0.3s;
}

/****************** 
  CUSTOM VARIABLES
 ******************/

:root {
	--content-max-width: 100%;
	--font-size-small: 4vmin;
	--font-size-medium: 6vmin;
	--font-size-large: 8vmin;
	--color-primary: #808080;
	--color-secondary: #f25227;
	--color-tertiary: #25e88d;
	--color-quaternary: #ffc000;

	--color-darkgray: #0000006e;
	--color-input-box-background: #ffffff;
}

/****************** 
  SEMANTIC ELEMENTS
 ******************/

/** BODY **/

body,
body > * {
	width: 100%;
}

body {
	height: 100%;
	background-color: var(--color-primary);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

/** HEADER **/

header {
	height: 15vh;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	padding: 1vmin;
	position: relative;
	font-size: 10vmin;
}

header,
header nav {
	white-space: nowrap;
}

header,
main,
footer {
	max-width: var(--content-max-width);
}

/** MAIN **/

main {
	background-color: var(--color-primary);
	padding: 1vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 85vh;
}

/** SECTIONS **/

main > section {
	font-size: var(--font-size-medium);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
main > *,
main > * > * {
	width: 100%;
	border-radius: 1vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/** LISTS **/

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/********* 
  CLASSES
 *********/

/** HEADER **/

.highscore-header {
	background-color: var(--color-tertiary);
}

/** INSIDE HEADER **/

.nav-view,
.nav-question,
.nav-timer,
.nav-view > *,
.nav-question > *,
.nav-timer > * {
	font-size: 5vmin;
	border-radius: 1vmin;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-view {
	flex: 1;
	background-color: var(--color-tertiary);
	transform: translateY(0px);
	padding: 1vmin 2vmin 1vmin 3vmin;
	text-align: center;
	cursor: pointer;
	margin-left: 1vmin;
}
.nav-view:hover {
	background-color: #ffc000;
}
.nav-view:active {
	background-color: #ffc000;
	transform: translateY(1px);
}
.nav-view i {
	transform: rotate(90deg) scaleX(-1);
}
.nav-question {
	flex: 2;
	padding: 1vmin 2vmin;
	background-color: var(--color-darkgray);
	margin-left: 1vmin;
}
.nav-question,
.nav-question > * {
	color: white;
}
.nav-question #currentQuestion {
	margin-left: 1vmin;
}
.nav-timer {
	flex: 1;
	padding: 1vmin 2vmin;
	background-color: var(--color-secondary);
}
.nav-timer > * {
	color: white;
}
.nav-timer i {
	margin-right: 1vmin;
}

/** SPLASH AREA **/
#splash {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
}
#splash h1,
.recordSection h1 {
	margin: 0;
}
.splash-image {
	max-height: 20vmin;
	max-width: 20vmin;
}
.splash-heading {
	max-height: 20vmin;
	font-size: var(--font-size-large);
	background-color: var(--color-quaternary);
	border-radius: 1vmin;
	transform: translateY(0px);
	padding: 1vmin 2vmin 1vmin 3vmin;
	text-align: center;
}
.splash-description {
	font-size: var(--font-size-small);
	margin: 1vmin;
	border-radius: 2vmin;
	text-align: center;
	font-weight: bold;
}
.splash-start-button {
	background-color: var(--color-tertiary);
	border-radius: 1vmin;
	margin: 1vmin;
	padding: 1vmin;
	text-decoration: none;
	border: none;
	font-size: var(--font-size-medium);
	cursor: pointer;
}
.splash-start-button:hover {
	outline: none;
	background-color: var(--color-secondary);
	border-radius: 1vmin;
	margin: 1vmin;
	position: relative;
	transform: translateY(0px);
}
.splash-start-button:active {
	outline: none;
	background-color: var(--color-secondary);
	transform: translateY(4px);
}

/** QUIZ AREA **/
.btn-wrapper {
	background-color: white;
	color: black;
	border-radius: 1vmin;
	margin-bottom: 1vmin;
	width: 50%;
}
.btn-wrapper:hover {
	background-color: var(--color-secondary);
	color: rgba(255, 255, 255, 1);
	border-radius: 1vmin;
	position: relative;
	transform: translateY(0px);
}
#hs .btn-wrapper:hover {
	background-color: var(--color-tertiary);
	border-radius: 1vmin;
}
.btn-wrapper:active {
	background-color: var(--color-secondary);
	transform: translateY(4px);
}
#hs .btn-wrapper:active {
	background-color: var(--color-tertiary);
}
.btn {
	background-color: inherit;
	color: inherit;
	border-radius: 1vmin;
	width: 100%;
	border: none;
	padding: 1vmin 2vmin;
	outline: none;
	cursor: pointer;
	font-size: var(--font-size-medium);
}
.quiz > * {
	width: 90%;
}

.quiz .btn {
	font-size: var(--font-size-medium);
}
.quiz > section ul {
	margin: 2vmin 0;
}

/** QUIZ AREA … FEEDBACK TEXT **/

.feedback {
	border: 1px solid #d3d3d3;
	padding: 1vmin;
	margin-top: 1vmin;
	background-image: -webkit-linear-gradient(top, #fff, #dde3ee);
}

.greenFeedback {
	color: #edb402;
}
.redFeedback {
	color: #f79802;
}

/** RECORDS PAGE **/

#submit {
	width: 50vw;
	padding: 2vmin 0;
	font-size: var(--font-size-medium);
	border-width: 1vmin;
	border: none;
	background-color: var(--color-tertiary);
}
#victoryMessage {
	font-size: var(--font-size-large);
}
#affirmation {
	font-size: var(--font-size-small);
	text-align: center;
}
#victoryScoreLabel,
#recordInitialLabel {
	font-size: var(--font-size-small);
}
#initials {
	width: 50vw;
	background-color: var(--color-input-box-background);
	text-align: center;
	font-size: var(--font-size-large);
	border: none;
	text-transform: uppercase;
}
#initials:focus-visible {
	outline: none;
}

/** HIGH SCORES PAGE **/
.highscore-header {
	text-align: center;
	display: flex;
	align-items: center;
}

.highscore-main .splash-start-button {
	color: black;
	flex: 0;
	font-size: var(--font-size-medium);
}
.splash-start-button#clear {
	background-color: var(--color-secondary);
}

/******
  ID'S
 ******/

/* QUIZ AREA */

#quiz-title {
	font-size: 5vmin;
	text-align: center;
}

#feedback {
	text-align: center;
	font-size: var(--font-size-small);
}

/* HIGH SCORES */

#hs {
	flex: 1 1 auto;
	overflow-y: auto;
	justify-content: flex-start;
}
#hsIcon {
	transform: rotate(90deg) scaleX(-1);
	font-size: 10vmin;
	color: black;
}
#hallOfFame {
	font-size: var(--font-size-large);
}

/* table headings */
#hs li:nth-child(1) {
	background-color: var(--color-primary);
	border: none;
	color: var(--color-darkgray);
}

/* may the highest scorer glow in gold */
#hs li:nth-child(2) {
	background-color: #ffc000;
	border-radius: 1vmin;
}
/* may the 2nd highest scorer glow in silver */
#hs li:nth-child(3) {
	background-color: #72706b;
	border-radius: 1vmin;
}
/* may the 3rd highest scorer glow in bronze */
#hs li:nth-child(4) {
	background-color: #8b6b09;
	border-radius: 1vmin;
}

#hs-wrapper {
	display: flex;
	justify-content: space-evenly;
	font-family: 'Roboto Mono', monospace;
}
#hs-rank {
	font-weight: bold;
	font-family: inherit;
}
#hs-initial {
	font-weight: bold;
	font-family: inherit;
}
#hs-score {
	font-weight: bold;
	font-family: inherit;
}

/* buttons for New Game and Clear */
#hs .btn-wrapper {
	box-shadow: none;
	border-radius: 0;
	border: 5px solid rgba(0, 0, 0, 0.5);
	margin-top: 1vmin;
}
#hs .btn {
	font-size: var(--font-size-small);
}
